html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 20px;
	box-sizing: border-box;
}

body {
	background: #F5F5DC;
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 90%;
	max-width: 1000px;
	padding: 20px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 30% 70%;
	gap: 20px;
}

.icon-link {
	margin-right: 20px;
}

.enlaces {
	position: sticky;
	top: 20px;
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.nav a {
	display: block;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 3px;
	color: #2063ff;
}

.nav a:hover {
	background: #ccedff;
}

.nav a.activo {
	font-weight: 700;
	background: #2063ff;
	color: #fff;
}

.seccion {
	padding: 0px 40px 40px 40px;
	margin-bottom: 40px;
	border-radius: 5px;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.seccion p {
	font-size: 16px;
	line-height: 32px;
	font-weight: 400;
	color: #414141;
}

.seccion br {
	margin-bottom: 20px;
}

.encabezado {
	display: flex;
	align-items: center;
	font-weight: 700;
	padding-top: 20px;
	margin-bottom: 20px;
}

.encabezado a {
	display: inline-flex;
	align-items: center;
	margin-left: 10px;
}

.encabezado a svg {
	width: 26px;
	height: 26px;
}

.menu ul {

    display: flex;

    padding: 20px;

    margin: 0;

    list-style: none;

}

.menu a {

    display: block;

    padding: 0.5em;

    background-color: #F9B53C;

    text-decoration: none;

    color: #191C26;

}

.menu a:hover {

    background-color: #CC673B;

}

.menu ul li ul {

    display: none;

}

.menu ul li a:hover + ul, .menu ul li ul:hover {

    display: block;

}